<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Biblioteka</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @if(Session["userId"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
</head>
<style>
    footer {
        color: white;
        position: absolute;
        bottom: 0px;
        text-align: center;
        font-size: larger;
    }

    #coloring {
        color: #3A67A5;
    }
</style>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Knjige", "Index", "Knjigas",new { area = "" }, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Clanovi", "Index", "Clans", new { area = "" }, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Izdavanja", "Index", "Izdavanjes", new { area = "" }, new { @class = "navbar-brand" })</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("LogOut","Login")">Logout <i class="glyphicon glyphicon-user"></i> @Session["userName"].ToString()</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <br />
        <footer valign="bottom">
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
