@model ProjekatBibliotekaPPP.Models.Clan

@{
    ViewBag.Title = "Create";
}

<h2>Unos novog clana</h2>

<style>
    h2 {
        color: #3A67A5;
    }
    body {
        background-image: url("../../Content/Images/clanovi.jpg");
        background-size: cover;
    }
    .form-group {
        color: #3A67A5;
    }
</style>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group" id="ime">
        <b>@Html.LabelFor(model => model.Ime, htmlAttributes: new { @class = "control-label col-md-2" })</b>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Ime, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Ime, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <b>@Html.LabelFor(model => model.Adresa, htmlAttributes: new { @class = "control-label col-md-2" })</b>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Adresa, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Adresa, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Kontakt, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Kontakt, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Kontakt, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ClanstvoDo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ClanstvoDo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ClanstvoDo, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Kreiraj novog clana" class="btn btn-success" />
        </div>
    </div>
</div>
}

<div>
    <br />
    <br />
    @Html.ActionLink("Vrati se na listu clanova", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}