@model ProjekatBibliotekaPPP.Models.Clan

@{
    ViewBag.Title = "Delete";
}
<head>

</head>
<style>
    h3 {
        color: #3A67A5;
    }

    body {
        background-image: url("../../Content/Images/clanovi.jpg");
        background-size: cover;
    }

    #info {
        color: #3A67A5;
    }
</style>
<body>
<h3>Da li ste sigurni da zelite da obrisete clana?</h3>
<div id="info">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kontakt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kontakt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClanstvoDo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClanstvoDo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Obrisi" class="btn btn-danger"/> |
            @Html.ActionLink("Vrati se na listu clanova", "Index")
        </div>
    }
</div>
</body>