@model ProjekatBibliotekaPPP.Models.Knjiga

@{
    ViewBag.Title = "Delete";
}
<head>

</head>
<style>
    body {
        background-image: url("../../Content/Images/knjige.jpg");
        background-size: cover;
    }
    h2 {
        color: #3A67A5;
    }
    h3 {
        color: #3A67A5;
    }
    dl, dt, dd {
        color: #3A67A5;
    }
</style>
<body>
<h2>Brisanje</h2>

<h3>Jeste li sigurni da zelite da obrisete knjigu?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SerijskiBroj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerijskiBroj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Autor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Autor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Izdavac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Izdavac)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Obrisi" class="btn btn-danger" id="brisi"/> |
            @Html.ActionLink("Vrati se na listu knjiga", "Index")
        </div>
    }
</div>
</body>