@model PagedList.IPagedList<ProjekatBibliotekaPPP.Models.KnjigaViewModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}
<head>

</head>
<style>
    body {
        background-image: url("../../Content/Images/knjige.jpg");
        background-size: cover;
    }

    table, th, td, tr {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        font-weight: 700;
    }

    #linija_velika {
        border-bottom: 3px solid black;
        border-top: 3px solid black;
    }

    #oddo {
        color: black;
        font-size: 15px;
        position: absolute;
        left: 20%;
    }

    h2 {
        color: #3A67A5;
    }

    #left {
        position: absolute;
        right: 77%;
    }

    .bojica {
        color: #3A67A5;
    }

    #underline {
        text-decoration: underline;
    }
    #pomeri{
        text-align: right;
    }
    #uspeh1 {
        border-top: hidden;
        border-bottom: hidden;
    }

    #obrisanaPoruka1 {
        border-top: hidden;
        border-bottom: hidden;
    }

</style>
<body>
<div class="text-center">
    <h2>Spisak Knjiga</h2>
</div>
<br />
@if (ViewData["Error"] != null)
{
    <div class="red">
        <p><strong>Error:</strong> @ViewData["Error"].ToString()</p>
    </div>
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        <table>
            <tr id="uspeh1">
                <td>
                    <b>@TempData["Success"].ToString()</b>
                </td>
                <td class="col-xs-10">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </td>
            </tr>
        </table>
    </div>
}
@if (TempData["deleted"] != null)
{
    <div class="alert alert-success">
        <table>
            <tr id="obrisanaPoruka1">
                <td>
                    <b>@TempData["deleted"].ToString()</b>
                </td>
                <td class="col-xs-10">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </td>
            </tr>
        </table>
    </div>
}
<br />

<br />
<form class="pull-right" asp-controller="Knjigas" asp-action="Index">
    <div id="left">
        <input type='button' class="btn btn-primary" value='Unos nove knjige' onclick='window.location = "@Url.Action("Create", "Knjigas")";' />
    </div>
    <div>
        <input type="text" name="SearchString">
        <input type="submit" class="btn btn-primary" value="Pretrazi knjige" />
    </div>
</form>
    <br />
    <br />
    <br />
@if (Model.Count() > 0)
{
    <table class="table">
        <tr id="linija_velika">
            <th>
                <b class="bojica">
                    Ime i prezime
                </b>
            </th>
            <th>
                <b class="bojica">
                    Serijski broj
                </b>
            </th>
            <th>
                <b class="bojica">
                    Autor
                </b>
            </th>
            <th>
                <b class="bojica">
                    Izdavac
                </b>
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td id="underline">
                    @Html.ActionLink(item.Naziv, "Details", new { id = item.KnjigaID })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SerijskiBroj)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Autor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Izdavac)
                </td>
                <td id="pomeri">
                    @if (item.IsAvailable)
                    {
                        @Html.ActionLink("Izdaj", "Create", "Izdavanjes", new { id = item.KnjigaID }, new { @class = "btn btn-primary" })
                    }
                    else
                    {
                        @Html.ActionLink("Vrati knjigu", "Edit", "Izdavanjes", new { id = item.KnjigaID }, new { @class = "btn btn-danger" })
                    }
                </td>
            </tr>
        }

    </table>
    <br />
    <div class="pagination" style="margin-left: 400px" id="oddo">
        Stranica @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
        od @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
}

else
{
    <div class="alert alert-warning">
        Trazena knjiga ne postoji u bazi.
    </div>
}
</body>